	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #EFEFEF url('images/b6.jpg') ;//repeat;
		font-family: 'Open Sans', sans-serif;
		font-size: 10pt;
		font-weight: 400;
		color: #8d8d8d;
	
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		color: #333;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
		color: #525252;
	}
	
	a
	{
		color: #525252;
	}
	
	a:hover
	{
		text-decoration: none;
	}

	.container
	{
		margin: 0px auto;
		width: 800px;
	}
	

    /*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 1em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.10em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		width: 30px;
		height: 30px;
		background: #3f3f3f;
		line-height: 30px;
		text-align: center;
		color: #FFFFFF;
	}
	
	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		padding: 1em 3em 1em 0em;
		letter-spacing: 0.10em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 800;
		font-size: 0.90em;
		color: #333;
	}
	
	.button:before
	{
		display: inline-block;
		background: #8aa2fc;
		margin-right: 1em;
		padding: 8px;
		text-align: ccoenter;
		color: #FFF;
	}
		
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		background: #56BD78;
		border-top: 1px solid #47A665;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		padding: 5em 0em;
		text-transform: uppercase;
	}

	#logo h1
	{
		text-align: center;
		font-weight: 900;
		font-size: 2.5em;
	}
	
	#logo h1 a
	{
	}

	#logo span
	{
		padding: 0em 0em 0em 0.5em;
	}
	
	#logo h1:before
	{
		
	}
	
	#logo a 
	{
		color: #fff;
	}


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu ul
	{
		margin: 0;
		padding: 20px 0px 20px 0px;
		list-style: none;
		line-height: normal;
	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu a
	{
		display: block;
		padding: 1em 2em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1em;
		font-weight: 700;
		color: #FFF;
	}
	
	#menu .current_page_item a
	{
		background: #7BDB99;
		color: #FFF;
	}
	
	#menu a:hover
	{
		background: #7BDB99;
		text-decoration: none;
		color: #FFF;
	}

  
    /****************************************************************************/
    /*contact*/
     /****************************************************************************/

.contactus {background-image:url('images/b5.jpg');
            margin:0px 0 20px 0;
            padding: 4em 0em 6em 0em;
		
		border-top: 1px solid #47A665;
}
.contactus .container .contact {width: 60%;
                                background-color: #dedede;
                                padding: 20px;
                                opacity: 0.9;
                                border: 5px solid #7d7d7d;
                                border-radius: 35px;
                              margin-left: 130px;
                             


}

    .contactus .container .contact .title h2 {font-size: 3em;
                                                font-weight: 700;
                                                color: #333;
                                                text-align: center;
                                                margin-top: 20px;
	
    }

    .contactus .container .contact .input {margin:30px ;
                                      
                                           margin-top:50px;
                                           
    }

    .contactus .container .contact .input label {font-size:23px;
                                                 font-weight:bold;
                                                 color:#000;
                                                 
        }


  .contactus .container .contact .input input {padding:15px;
                                               margin-left:20px;
                                               width:400px;
                                               border: 1px solid #808080;
        }

        .contactus .container .contact .input p {color: black;
                                                 font-size:23px;
                                                font-weight: bold;
        }

  
        .contactus .container .contact .input textarea {max-width: 430px;
                                                        margin-left: 10px;
                                                        max-height: 200px;
                                                        border: 1px solid #808080;
                                                        width:430px;
                                                        height:200px;

        }

        .contactus .container .contact .input #btn {text-align: center;
                                                    padding: 15px;
                                                    margin-left: 30%;
                                                    width: 200px;
                                                    font-size: 20px;
                                                    font-weight: bold;
                                                    border: 2px solid #929292;
                                                    border-radius: 30px;
                                                    outline:none;
                                                    cursor:pointer;
        }



 /*------------------------------------------------------------------------------------*/
  /*footer*/
  /*------------------------------------------------------------------------------------*/
  #copyright
	{  font-weight:bold;
		padding: 5px 0px;
		font-size: 2em;
		font-family:'Open Sans', sans-serif;
		letter-spacing: 0.10em;
		text-align: center;
		color: #ffffff;
		
	}
	
	#copyright a
	{
		color: #717171;
	}
